body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

div {
    margin: 20px auto;
    text-align: center;
}

select, button {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

#contenimg {
    margin-top: 20px;
}

img {
    height: 350px;
    width: 350px;
}